<div id="agentUpdateModal" tabindex="-1" aria-labelledby="agentUpdateModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wybierz agenta</h5>
                <button type="button" data-mdb-dismiss="modal" aria-label="Close" class="btn-close shadow-none"></button>
            </div>
            <div class="modal-body">
                <p>Jan Kowalski</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-mdb-dismiss="modal" class="btn btn-danger">Anuluj</button>
                <button type="button" data-mdb-dismiss="modal" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </div>
</div>