@model TicketSystemWebApp.Models.TicketViewModel
<div id="categoryUpdateModal" tabindex="-1" aria-labelledby="categoryUpdateModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("categoryupdate", "tickets", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title">Zmień rodzaj zgłoszenia</h5>
                    <button type="button" data-mdb-dismiss="modal" aria-label="Close" class="btn-close shadow-none"></button>
                </div>
                <div class="modal-body">
                    <div>
                        @Html.DropDownListFor(x => x.CategoryId, ViewBag.Categories as IEnumerable<SelectListItem>, new { @class = "form-select shadow-none" })
                    </div>
                    <div>
                        @Html.Hidden("ticketId", Model.TicketId)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-mdb-dismiss="modal" class="btn btn-danger">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }
        </div>
    </div>
</div>