<div id="ticketDeleteModal" tabindex="-1" aria-labelledby="ticketDeleteModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Usuń zgłoszenie</h5>
                <button type="button" data-mdb-dismiss="modal" aria-label="Close" class="btn-close shadow-none"></button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć wybrane zgłoszenie?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-mdb-dismiss="modal" class="btn btn-primary">Anuluj</button>
                <a href="#" id="btnTicketDeleteConfirm" role="button" class="btn btn-danger">Usuń</a>
            </div>
        </div>
    </div>
</div>