@{
    ViewBag.Title = "Error";
}

<div id="error" class="container mt-content border bg-light rounded-3 mb-9">
    <div class="row my-4">
        <div class="col text-center text-black-50">
            <div>Ups, tego chyba nikt się nie spodziewał... wystąpił nieoczekiwany błąd.</div>
            <div><a href="@Url.Action("index", "tickets")">Powrót do strony głównej</a></div>
        </div>
    </div>
</div>
